@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String, user: models.users.User)(content: Html)

@* Main should not call itself!! (removed main(user{...})) *@
<!doctype html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="@routes.Assets.versioned("stylesheets/main.css")" rel="stylesheet">
    
    <meta charset="UTF-8">
    <title>@title</title>
</head>
<body>
      
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"> Online Site</a>
            </div>

            <ul class="nav navbar-nav">
                <a href="@routes.HomeController.index()">Home</a>
                <li><a href="@routes.HomeController.games(0)">Games</a></li>
                <li><a href="@routes.HomeController.support()">Support</a></li>
                <li><a href="@routes.HomeController.reviews()">Reviews</a></li>
                <li><a href="@routes.HomeController.news()">News</a></li>
                <li><a href="@routes.HomeController.videos()">Videos</a></li>

                <!-- Login / Logout -->
                <li class="nav-item">
                    @if(user != null){
                    <a href="@routes.LoginController.logout()">Logout</a>
                    }
                    else {
                    <a class="nav-link" href="@routes.LoginController.login()">Login</a>
                    }
                </li>
            </ul> <!-- End of Nav list-->                
        </div>
    </nav>
    <div class="container">
        <!-- Content goes here - from main(){ content... } -->
        @content
    </div>  <!-- End container div-->
    <footer>
        <p>Second Year Project:
        Alan Kelly Anthony Koleoso Lee McDonnell
        </a></p>
    </footer>

    <!-- Javascript at bottom -->
    <!-- script.js-->  
    <script src="@routes.Assets.versioned("javascripts/script.js")"></script>
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>