@(user: models.users.User)
@main("Video", user){

    <h3>Youtuber "Aurateur" Beats Unique Super Mario Maker Level </h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/FuF4DRKva-c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>        
      
    <h4>Aurateur is an American Youtuber whos specialises in challenging tough Super Mario Maker Levels. In this video, he takes a shot at a very unique 
        level which involves some sort of mirror aspect. Nonetheless, it makes for an interesting watch!
    </h4>
}  						
							